.calculator.text-center
    .dark-mode.text-center
        button.light.active
            <i class="far fa-sun"></i>
        button.dark
            <i class="far fa-moon"></i>
    .output.text-right
        .previous-operand 
        .current-operand 
    .button-wrap
        button.blue(data-clear) AC
        button.blue(data-delete) DEL
        button.blue(data-operation) %   
        button.red(data-operation) รท
        button(data-number) 7
        button(data-number) 8
        button(data-number) 9
        button.red(data-operation) x
        button(data-number) 4
        button(data-number) 5
        button(data-number) 6
        button.red(data-operation) -
        button(data-number) 1
        button(data-number) 2
        button(data-number) 3
        button.red(data-operation) +
        button(data-number) 0
        button(data-number) .
        button.red(data-equal) =